workflows/AI_ Summarize podcast episode and enhance using Wikipedia.json
{
  "id": "zFxUMqgvTXGIMzvh",
  "meta": {
    "instanceId": "ec7a5f4ffdb34436e59d23eaccb5015b5238de2a877e205b28572bf1ffecfe04"
  },
  "name": "Podcast Digest",
  "tags": [],
  "nodes": [
    {
      "id": "48bf1045-cfc1-4b37-9cce-86634bd97480",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -420,
        580
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "75f2e528-e5fe-4508-b98f-e1f71f803e60",
      "name": "Podcast Episode Transcript",
      "type": "n8n-nodes-base.code",
      "position": [
        -220,
        580
      ],
      "parameters": {
        "jsCode": "return { transcript: `So throughout the last couple episodes we\u2019ve been doing on the philosophy of mind\u2026there\u2019s been an IDEA that we\u2019ve referenced MULTIPLE TIMES\u2026 and really just glossed over it as something, that\u2019s PRACTICALLY self evident. \n\n\n\nThe idea\u2026 is that when we THINK about consciousness\u2026 we can SPLIT it into two different types\u2026there\u2019s ACCESS consciousness on the one hand\u2026 and PHENOMENAL consciousness on the other. This is what we\u2019ve been saying. \n\n\n\nWhen it comes to ACCESS consciousness\u2026that\u2019s stuff we CAN explain with neuroscience things like memories, information processing, our field of visual awareness\u2026we can CLEARLY EXPLAIN a bit about how all THAT stuff works.\n\n\n\nBut in this conversation so far, what KEEPS on being said\u2026 is that what we CAN\u2019T SEEM to explain\u2026is PHENOMENAL consciousness\u2026you know, the subjective experience, that UNDERLIES conscious thought. That it FEELS like something to be me. There\u2019s this idea\u2026that this phenomenal consciousness is something separate\u2026something fundamental, something in a category ALL IT\u2019S OWN\u2026 that needs to be explained. You can explain a lot of stuff about access consciousness\u2026but you can\u2019t explain PHENOMENAL consciousness. \n\n\n\nBut if you were a good materialist listening to the discussions on this series so far\u2026and you\u2019re sitting in the back of the room, being SUPER PATIENT, NOT SAYING ANYTHING trying to be respectful to all the other ideas being presented\u2026maybe there\u2019s a part of you so far that\u2019s just been BOILING inside, because you\u2019re waiting for the part of the show where we\u2019re ACTUALLY going to call that GIANT assumption that\u2019s being made into question. \n\n\n\nBecause a materialist might say, SURE\u2026phenomenal consciousness is PRETTY mysterious and all. But DOES that necessarily mean that it\u2019s something that NEEDS a further explanation? \n\n\n\nThis is a good question. What is the difference\u2026 between EXPLAINING ALL of the component PARTS of our subjective experience again the thoughts, memories, information processing\u2026what\u2019s the difference between explaining all that and explaining phenomenal consciousness\u2026 in itself? Like what does that even mean?\n\n\n\nThat\u2019s kinda like you saying\u2026well\u2026 you can EXPLAIN the delicious waffle cone. You can EXPLAIN the creamy chocolatey goodness inside, you can EXPLAIN the RAINBOW colored SPRINKLES. But you CAN\u2019T explain the ICE CREAM CONE\u2026in ITSELF, now can you? \n\n\n\nI mean at a CERTAIN point what are we even talking about anymore? IS phenomenal consciousness REALLY something that\u2019s ENTIRELY SEPARATE that needs to be explained? \n\n\n\nMaybe, it DOESN\u2019T need to be explained. Maybe phenomenal consciousness is less a thing in itself\u2026and MORE a sort of ATTRIBUTION we make\u2026 about a particular INTERSECTION of those component parts that we CAN study and explain. \n\n\n\nNow obviously there\u2019s a bit to clarify there\u2026 and going over some popular arguments as to why that might be the case will take a good portion of the episode here today. But maybe a good place to start is to ask the question\u2026if the hard problem of consciousness is to be able to explain why it FEELS like something to be me\u2026and your SOLUTION to that is that maybe we don\u2019t even need to explain that. One thing you\u2019re gonna HAVE to explain no matter what\u2026 is why it SEEMS to MOST people living in today\u2019s world\u2026that phenomenal consciousness IS something that needs to be explained. \n\n\n\nRight before we began this series we did an episode on Susan Sontag and the power of the metaphors we casually use in conversations. And we talked about how these metaphors ACTUALLY go on to have a pretty huge impact on the way we contextualize the things in our lives. \n\n\n\nWell the philosopher Susan Blackmore, and apparently\u2026 I ONLY cover female philosophers by the name of Susan or Simone on this show\u2026but anyway SUSAN BLACKMORE, huge player in these modern conversations about the mysteries of consciousness\u2026and she thinks that if it\u2019s DIFFICULT for someone to wrap their brain around the idea that phenomenal consciousness is NOT something that is conceptually distinct\u2026it MAY BE because of the METAPHORS about consciousness that we use in everyday conversation that are directing the way you THINK about consciousness\u2026 into a particular lane that\u2019s incorrect. \n\n\n\nFor example, there\u2019s a way people think about consciousness\u2026 that\u2019s TRAGICALLY common in today\u2019s world\u2026it\u2019s become known as the Cartesian theater. So Cartesian obviously referring to Descartes. And when Descartes arrives at his substance dualism where the MIND is something ENTIRELY SEPARATE from the BODY\u2026this EVENT in the history of philosophy goes on to CHANGE the way that people start to see their conscious experience. They start to think\u2026 well what I am\u2026is I\u2019m this conscious creature, sort of perched up here inside of this head\u2026and I\u2019m essentially\u2026sitting in a theater, LOOKING OUT through a set of eyes which are kind of like the screen in a theater\u2026and on the screen what I SEE is the outside world. \n\n\n\nNow nobody ACTUALLY believes this is what is happening. Every person on this god forsaken planet KNOWS that there isn\u2019t a movie theater up in their heads. But hearing and using this metaphor DOES SHADE the way that they see their own conscious experience. The casual use of the metaphor\u2026 ALLOWS people to smuggle in assumptions about their subjective experience, that we REALLY have no evidence to be assuming. \n\n\n\nFor example, when the mind and body is totally separate\u2026maybe it becomes EASIER for people to believe that they\u2019re a SPIRIT that\u2019s INHABITING a body. Maybe it just makes it easier for people to VIEW their subjective, phenomenal consciousness as something SEPARATE from the body that needs to be explained in itself. WHATEVER IT IS though\u2026the point to Susan Blackmore is that metaphors you use have an IMPACT on your intuitions about consciousness. And she thinks there\u2019s several OTHER examples that fall into the very same CATEGORY as the Cartesian Theater. \n\n\n\nHow about the idea that there\u2019s a unified, single, STREAM of consciousness that you\u2019re experiencing. The STREAM being the metaphor there. Susan Blackmore asks is a SINGLE, unified STREAM, REALLY the way that you experience your conscious thought? Like when you REALLY pay attention is that how you\u2019re existing?\n\n\n\nShe says most likely the only reason people SEE their consciousness in terms of a stream\u2026is because of the specific way that people are often asked to OBSERVE their own consciousness. There\u2019s a BIAS built into the way that we\u2019re checking in. How do people typically do it? Well they\u2019ll take a moment\u2026they\u2019ll stop what they\u2019re doing\u2026and they\u2019ll ask themselves: what does it feel like to be ME right now. They\u2019ll pay attention, they\u2019ll listen, they\u2019ll try to come up with an answer to the question\u2026and they\u2019ll realize that there\u2019s a PARTICULAR set of thoughts, feelings and perceptions that it FEELS like, to be YOU in THAT moment. \n\n\n\nBut then that person can wait for an hour\u2026come back later, and ask the very SAME QUESTION in a different moment: what does it feel like to be me right now\u2026and low and behold a totally DIFFERENT set of thoughts, feelings and perceptions come up. \n\n\n\nAnd then what we OFTEN DO as people at that point\u2026 is we FILL IN that empty space between those two moments with some ethereal STREAM of consciousness that we assume MUST HAVE existed between the two. \n\n\n\nBut at some OTHER level\u2026RATIONALLY we KNOW\u2026that for the whole time that we WEREN\u2019T doing this accounting of what it FEELS like to be me\u2026we KNOW that there were TONS of different unconscious meta-processes going on\u2026all doing their own things, sometimes interacting with each other, most of the time not. We KNOW that our EXPERIENCE of consciousness is just directing our attention to one PIECE of our mental activity or another\u2026 and that all those pieces of mental activity KEEP on operating whether we\u2019re FOCUSING on one of them or not. \n\n\n\nSo is there a specific LOCATION where there\u2019s some sort of collective STREAM where all of this stuff is bound together HOLISTICALLY? Is there ANY good reason to ASSUME that it NEEDS to BE that way? Could it be that the continuity of this mental activity is more of an ILLUSION\u2026 than it is a reality?\n\n\n\nAnd if this sounds impossible at first\u2026think of OTHER illusions that we KNOW go on in the brain. Think of how any SINGLE sector of the brain CREATES a similar sort of illusion. Memories. We KNOW that DIFFERENT parts of the brain are responsible for different types of memory. Semantic memory in the frontal cortex, episodic memory in the hippocampus, procedural memory in the cerebellum. ALL of these different areas work together in concert with each other, it\u2019s ALL seemingly unified. \n\n\n\nWhen someone cuts me off in traffic and I\u2019m choosing a reaction\u2026I don\u2019t CONSCIOUSLY, travel down to my cerebellum and say hey 200 million years ago how did my lizard grandfather react when a lizard cut him off in traffic\u2026no MULTIPLE different parts of the brain work together and create an ILLUSION of continuity. And the SAME thing goes for our VISUAL experience of the world. The SAME thing happens with our emotions. \n\n\n\nHere\u2019s Susan Blackmore saying: the traditional METAPHORS that we casually throw around about consciousness\u2026even with just a LITTLE bit of careful observation of your own experience\u2026being someone up in a theater in your head with a unified, continuous STREAM of your own consciousness\u2026this ISN\u2019T even how our experiences SEEM. \n\n\n\nNow it should be said if you were sufficiently COMMITTED to the process\u2026you could ABSOLUTELY carry on in life with a complete LACK of self awareness fueled by the METAPHORS of pop-psychology and MOVIES and TV shows, and you could DEFINITELY LIVE in a state of illusion about it. But that DOESN\u2019T make it right\u2026and what happens she asks when those METAPHORS go on to impact the way we conduct science or break things down philosophically? She says:\n\n\n\n\u201cNeuroscience and disciplined introspection give the same answer: there are multiple parallel processes with no clear distinction between conscious and unconscious ones. Consciousness is an attribution we make, not a property of only some special events or processes. Notions of the stream, contents, continuity and function of consciousness are all misguided as is the search for the neural correlates of consciousness.\u201d\n\n\n\nThe MORE you think about the ILLUSIONS that our brains create for the sake of simplicity\u2026the more the question starts to emerge: what if there is no CENTRALIZED HEADQUARTERS of the brain where the subjective experience of YOU\u2026is being produced? \n\n\n\nWhat if consciousness\u2026is an emergent property that exists\u2026ONLY, when there is a VERY SPECIFIC organization of physical systems? \n\n\n\nThere are people that believe that phenomenal consciousness\u2026 is an ILLUSION, they\u2019re often called Illusionists\u2026and what someone like THAT may say is sure, fully acknowledge there are other theories about what may ultimately explain phenomenal consciousness\u2026but isn\u2019t it ALSO, ENTIRELY POSSIBLE\u2026that what it FEELS like to be YOU\u2026is an illusion created by several, distributed processes of the brain running in parallel? Multiple different channels, exerting simultaneous influence on a variety of subsystems of the brain. That these subsystems talk to each other, they compete with each other, they ebb and flow between various states of representation. \n\n\n\nBut that these different DRAFTS of cognitive processes come together, to create a type of simplification of what\u2019s going on in aggregate\u2026 and that simplification is what YOU experience as\u2026 YOU. I mean we have our five senses that help us map the EXTERNAL world and they do so in a way that is often crude and incomplete. Could it be\u2026 that we SIMILARLY\u2026 have a crude misrepresentation of our own brain activity that SIMILARLY, allows us to be able to function efficiently as a person? \n\n\n\nIf you were looking for another METAPHOR to apply here that an illusionist might say is probably better for people to think of themselves in terms of\u2026 because its not gonna lead us down that rabbit hole of the cartesian theater\u2026its to THINK of phenomenal CONSCIOUSNESS\u2026as being SIMILAR to a USER INTERFACE or a DESKTOP on a computer. \n\n\n\nThe idea is: what IS the desktop of a computer? Well its a bunch of simplified ICONS on a screen, that allow you to essentially manipulate the ELECTRICAL VOLTAGE going on in between transistors on computer hardware. But AS you\u2019re pushing buttons to CHANNEL this electricity, getting things DONE on the computer\u2026you don\u2019t ACTUALLY need to know ANYTHING ABOUT the complex inner workings of how the software and hardware are operating.\n\n\n\nThe philosopher Daniel Dennett INTRODUCES the metaphor here in his famous book called Consciousness Explained (1991). He says:\n\n\n\n\u201cWhen I interact with the computer, I have limited access to the events occurring within it. Thanks to the schemes of presentation devised by the programmers, I am treated to an elaborate audiovisual metaphor, an interactive drama acted out on the stage of keyboard, mouse, and screen. I, the User, am subjected to a series of benign illusions: I seem to be able to move the cursor (a powerful and visible servant) to the very place in the computer where I keep my file, and once that I see that the cursor has arrived \u2018there\u2019, by pressing a key I get it to retrieve the file, spreading it out on a long scroll that unrolls in front of a window (the screen) at my command. I can make all sorts of things happen inside the computer by typing in various commands, pressing various buttons, and I don\u2019t have to know the details; I maintain control by relying on my understanding of the detailed audiovisual metaphors provided by the User illusion.\u201d\n\n\n\nSo if we take this metaphor seriously\u2026then the idea that you are some sort of privileged observer of everything that\u2019s going on in your mind\u2026that starts to seem like it\u2019s just FALSE. To Daniel Dennett\u2026we don\u2019t know what\u2019s REALLY happening at the deepest levels of our brains\u2026we only know what SEEMS to be happening. We are constantly acting in certain ways, doing things\u2026and then AFTER the fact making up reasons for why we ACTED in the way that we did.\n\n\n\nPoint is: you don\u2019t need to know EVERYTHING that\u2019s going on at EVERY LEVEL of a computer\u2026 to be able to for example, drag a file that you don\u2019t need anymore into the trash can on your desktop. You just drag the file into the trash can on this convenient, intuitive SCREEN. In fact you could make the argument that KNOWING about all the information being processed at other levels would get in the way of you being able to get things done that are USEFUL.\n\n\n\nBut\u2026 as its been said many times before\u2026to RELATE this back to our subjective experience of consciousness\u2026to an ILLUSIONIST\u2026 we have to acknowledge the fact\u2026that there is NO MORE\u2026 a TRASH CAN inside of your computer screen\u2026as there is a separate PHENOMENAL SUBJECT inside of your brain that needs to be explained. THAT\u2026is an ILLUSION. What you HAVE\u2026 Daniel Dennett refers to as an EDITED DIGEST, of events that are going on inside your brain. \n\n\n\nSo again just to clarify\u2026an ILLUSIONIST\u2026 doesn\u2019t DOUBT the existence of access consciousness, they\u2019re not saying that the OUTSIDE WORLD is an illusion\u2026 No, just the phenomenal REPRESENTATION of brain activity\u2026just the subjective YOU that experiences the world phenomenologically.\n\n\n\nThe philosopher Keith Frankish gives the example of a television set to describe the type of illusion they\u2019re talking about. He says: \n\n\n\u201cThink of watching a movie. What your eyes are actually witnessing is a series of still images rapidly succeeding each other. But your visual system represents these images as a single fluid moving image. The motion is an illusion. Similarly, illusionists argue, your introspective system misrepresents complex patterns of brain activity as simple phenomenal properties. The phenomenality is an illusion.\u201d\n\n\n\nWhen it FEELS LIKE SOMETHING to be you\u2026these phenomena are \u201cmetaphorical representations\u201d of REAL neural events that are going on\u2026and they definitely help us navigate reality\u2026they definitely ARE useful\u2026 but nothing about those phenomena\u2026 offer ANY sort of deep insight into the processes involved to produce that experience. So in THAT sense, they are an illusion. \n\n\n\nAnd Daniel Dennett goes HARD on ANYONE trying to smuggle in ANY MORE MAGIC than needs to be brought in to EXPLAIN consciousness. He wrote a GREAT entry in the journal of consciousness studies in 2016 called Illusionism as the obvious default theory of consciousness. \n\n\n\nNow what\u2019s he GETTING at with that title? Why should consciousness being an ILLUSION\u2026 be the DEFAULT theory we should all START from? Well he COMPARES the possibility of consciousness being an illusion\u2026with ANOTHER kind of illusion. The kind of illusion that you\u2019d see in VEGAS at a MAGIC show. \n\n\n\nBecause what HAPPENS at a MAGIC show? Well there are GREAT efforts MADE by the magician you\u2019re watching\u2026to TRICK you into thinking that what you\u2019re seeing is real. \n\n\n\nYou\u2019re watching the magic show from a VERY specific point of view\u2026CAREFULLY selected by the magician to LIMIT the information you have. They got lights and smoke and music to DISTRACT you, they\u2019re usually wearing some kind of bedazzled, cowboy costume looks like they got it at spirit Halloween, their poor assistant is dressed in God knows what to distract you. \n\n\n\nAnd when they DO the trick and the ILLUSION is finally COMPLETE\u2026and you\u2019re sitting there AMAZED, WONDERING as to how they defied the laws of nature and actually sawed someone in half and put them back together in front of you\u2026imagine someone in the crowd writing a REVIEW of the show the next day and saying, welp\u2026I guess EVERYTHING we KNOW about science needs to be rethought\u2026I mean this man is CLEARLY a wizard\u2026he is CLEARLY outside the bounds of natural constraints that we THOUGHT existed\u2026it\u2019s time to RETHINK our ENTIRE theoretical model.\n\n\n\nDaniel Dennett says who would EVER TAKE that person seriously? They\u2019d be laughed off the internet if they wrote that. And RIGHTFULLY SO. And SIMILARLY when it comes to these modern conversations about consciousness\u2026why would we EVER assume that our entire theoretical MODEL is flawed? Why would we ASSUME the supernatural? Why wouldn\u2019t we assume that anything that seems magical or mysterious definitely HAS a natural explanation\u2026and that we just don\u2019t understand it yet? \n\n\n\nIf you ONLY saw a magic trick from a single angle, like sitting in the audience of a theater\u2026it would be silly for us to assume that there wasn\u2019t a different perspective available that would SHOW how the trick was done. Similarly\u2026 we ONLY REALLY SEE the qualia of our subjective experience from the angle of introspection. \n\n\n\nThis is why to daniel dennett\u2026the DEFAULT position we should be starting from\u2026the MOST parsimonious explanation for a mystery that contradicts everything else we know\u2026is that it\u2019s an illusion. \n\n\n\nIt\u2019s funny because it\u2019s an argument that\u2019s coming from a place that\u2019s SIMILAR to where a panpsychist may be coming from, but it\u2019s arriving at a totally different conclusion. Panpsychist might say that we don\u2019t yet know enough about the human brain to write OFF the possibility that consciousness exists at some level underneath. Here\u2019s an illusionist position that\u2019s saying, yeah, we certainly HAVEN\u2019T been doing science long enough to know EVERYTHING about the brain\u2026and think of all the low hanging fruit in the sciences that could potentially EXPLAIN this mystery if only we have more time to study it. \n\n\n\nMore than that\u2026to an illusionist\u2026maybe there is something ABOUT the nature of the illusion that we\u2019re experiencing, that is NOT fully explainable by studying the physical properties of the brain. Maybe studying the ILLUSION ITSELF\u2026 is where we should be focusing more of our attention. \n\n\n\nBut that said\u2026there\u2019s no shortage of people out there that have PROBLEMS with saying consciousness is an illusion. For example\u2026 the philosopher Massimo Pigliucci, who by the way fun trivia fact is the only person OTHER than phillip goff that we\u2019ve ever interviewed on this show all the way back in our HUME series\u2026anyway HE once wrote an article where he talks about how Illusionism\u2026AS an ANSWER to the hard problem of consciousness\u2026is something that HE thinks HEAVILY relies on the specific definition you\u2019re using of what an ILLUSION is or what CONSCIOUSNESS is. \n\n\n\nTo explain what he means\u2026 let\u2019s go back to the metaphor about the icons on the computer screen. Massimo Pigliucci says this metaphor that Daniel Dennett presents in Consciousness Explained\u2026is a POWERFUL metaphor when it comes to describing the relationship between phenomenal consciousness\u2026 and the underlying neural machinery that makes it possible. It\u2019s great. But what HE can\u2019t seem to understand is why ANYONE would EVER CALL what\u2019s going ON there\u2026an \u201cillusion\u201d? Why USE the word illusion? \n\n\n\nWhen you hear the word illusion he says\u2026 you think of mind trickery, smoke and mirrors. But that\u2019s not what\u2019s happening when it comes to the user interface of a computer. He says, \u201ccomputer icons, cursors and so forth are not illusions, they are causally efficacious representations\u2026 of underlying machine language processes.\u201d \n\n\n\nWhat he\u2019s getting at\u2026 is that there\u2019s no ILLUSION going on here. There IS a connection between the underlying processes of the brain and our phenomenal experience of it. If it were truly an illusion, there would BE no real connection. But he says if you wanted to use that same logic\u2026would you say that the wheel of your CAR is an illusion? I mean when you\u2019re driving down the road and you turn the wheel\u2026you\u2019re not aware of the complexity of everything the car is doing, all of the internal communication going on to be able to turn the car in whatever direction you\u2019re going. Does that make it an illusion when you turn the steering wheel left and everything moves that makes the car go left? No, the steering wheel is causally connected to the underlying machinery\u2026 and that steering wheel makes it POSSIBLE for you to actually be able to drive the car efficiently. So why would you ever choose the word ILLUSION\u2026 to describe\u2026 what\u2019s going ON there? \n\n\n\nMassimo Pigliucci thinks there\u2019s an easy trap for someone to fall into living in today\u2019s world\u2026he calls it a sort of reductionist temptation\u2026we come from a LONG HISTORY in the sciences of progressively reducing things to a deeper, more fundamental level of their component parts\u2026 and then the assumption has usually been that if you can find a lower level of description about something\u2026for example if we can explain what PHENOMENAL CONSCIOUSNESS is, with a neurobiological explanation\u2026well then THAT explanation, must be MORE TRUE than anything going on at a more macro level\u2026at the level of the consciousness we experience every day. It must be a more FUNDAMENTAL explanation, and therefore a BETTER explanation. \n\n\n\nYou\u2019ll see this same kind of thinking going on when someone assumes the atoms that MAKE UP an apple\u2026 are more REAL in some sense than the apple in macroscopic reality\u2026the assumption being that the apple as WE experience it is some kind of an illusion created by our flawed SENSES and that it\u2019s somehow less valuable. \n\n\n\nBut this whole way of thinking\u2026is UNWORKABLE he says. We\u2019ve learned over the course of THOUSANDS of years of trying to STUDY the things around us\u2026that different levels of description\u2026 are USEFUL for different purposes. \n\n\n\nHe gives a series of examples: he says, \u201cIf we are interested in the biochemistry of the brain, then the proper level of description is the subcellular one, taking lower levels (eg, the quantum one) as background conditions. If we want a broader picture of how the brain works, we need to move up to the anatomical level, which takes all previous levels, from the subcellular to the quantum one, as background conditions. But if we want to talk to other human beings about how we feel and what we are experiencing, then it is the psychological level of description (the equivalent of Dennett\u2019s icons and cursors) that, far from being illusory, is the most valuable.\u201d\n\n\n\nReality plays by different sets of rules at different scales. And different SCALES of reality are USEFUL for different types of inquiry. When you\u2019re going about your everyday life do you assume that the ground is solid? Or do you use the lower level of description at the atomic level where the ground is really 99.9% empty space?\n\n\n\nSo when it comes to consciousness\u2026if we\u2019re gonna SAY that a neurobiological description of what\u2019s going on invalidates the experience of what\u2019s going on at the level of subjectivity, that subjectivity is nothing but an illusion\u2026then why stop at the neurobiological level he says? Why not say that neurons are actually an illusion because they\u2019re ultimately made up of molecules? Why not say that MOLECULES are illusions because they\u2019re really made up of quarks and gluons. You can do this INFINITELY. \n\n\n\nAnd maybe on a more GENERAL note\u2026JUST when it comes to this lifelong process of trying to be as clear thinking of a human being as you possibly CAN be\u2026maybe part of that whole process\u2026 is accepting the fact that there is no, single, monistic way of analyzing reality that is the ULTIMATE METHOD of understanding it. Maybe understanding reality\u2026 just takes a more pluralistic approach, maybe GETTING as close to the truth as we can as people takes LOOKING at reality from many different angles at many different scales, and maybe phenomenal consciousness is an important scale of reality\u2026 that we need to be considering. \n\n\n\nSo from Daniel Dennett and Keith Frankish offering a take on HOW consciousness might be an illusion\u2026to Susan Blackmore offering a take on WHY the illusion of consciousness is such an easy trap to FALL into\u2026I think if anyone you\u2019re in a conversation with calls themselves an illusionist\u2026then unless you\u2019re talking to David Copperfield I think you\u2019ll at LEAST be able to understand the main reasons for why someone may THINK this way about consciousness. \n\n\n\nAnd this is the point in the conversation where we hit a bit of a crossroads\u2026SAME crossroads that we\u2019ve seen with OTHER theories of consciousness in the series so far. At a certain point...there are GOOD reasons to believe that phenomenal consciousness may be an illusion\u2026and there are good reasons to DOUBT whether that is true or not. As we\u2019ve talked about at a certain point with these conversations you just have to CHOOSE to believe in something, and then deal with the prescriptive implications of BELIEVING it after the fact\u2026and one of the ones with Illusionism in particular is you can start to wonder, the more you think about it, how much consciousness being an illusion, ACTUALLY has an impact on ANYTHING going on in your everyday life or your relationship to society. \n\n\n\nIt\u2019s actually pretty interesting to consider\u2026how much the possibility of consciousness being an illusion\u2026DIRECTLY MIRRORS, OTHER, unsolved conversations in the philosophy of mind more broadly. Like for example\u2026the ongoing debate about whether FREE WILL is an illusion. \n\n\n\nIn fact in order to be able to talk about the societal impacts of consciousness being an illusion we have to talk about free will being one as well. \n\n\n\nNext episode we\u2019re going to dive into it. Free will, free wont, hard determinism and the implications of ALL of these when it comes to structuring our societies. Keep your eyes open for it, it will be out soon! Thanks for everyone on Patreon and thanks for checking out the website at philosophizethis.org\n\n\n\nBut as always, thank you for listening. Talk to you next time. `}"
      },
      "typeVersion": 2
    },
    {
      "id": "70b657d9-5a8f-4a9e-8d4e-18940ba35683",
      "name": "Workflow Input to JSON Document",
      "type": "@n8n/n8n-nodes-langchain.documentJsonInputLoader",
      "position": [
        80,
        780
      ],
      "parameters": {
        "pointers": "/transcript"
      },
      "typeVersion": 1
    },
    {
      "id": "b05c5e26-5a1d-4717-868d-3b05783a0d24",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        220,
        900
      ],
      "parameters": {
        "chunkSize": 6000,
        "chunkOverlap": 1000
      },
      "typeVersion": 1
    },
    {
      "id": "1b78b734-167e-4eb6-ba2e-19bbecd3a75e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -100,
        460
      ],
      "parameters": {
        "width": 455.5091388435286,
        "height": 577.6862533692728,
        "content": "## Chunk the transcript into several parts, and refine-summarize it "
      },
      "typeVersion": 1
    },
    {
      "id": "86ac5fad-307f-4f95-ad1c-1ba00a29e807",
      "name": "Topics",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        920,
        580
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "topics"
      },
      "typeVersion": 3
    },
    {
      "id": "078890f1-d840-479e-b702-ce6f9e3b4852",
      "name": "Summarize Transcript",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        -40,
        580
      ],
      "parameters": {
        "type": "refine"
      },
      "typeVersion": 1
    },
    {
      "id": "4a583efe-ff24-4bc1-b3e7-89651e3147c7",
      "name": "GPT 4 - Extract",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        560,
        755
      ],
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.8
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "wJtZwsVKW5v6R2Iy",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b658f2c1-3f60-4ff0-8b7b-2b2ebe1b1f5e",
      "name": "Wikipedia1",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        1380,
        900
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "5bffc33d-bb52-4432-bb82-ce2005be3c06",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        460
      ],
      "parameters": {
        "width": 615.8516011477997,
        "height": 443.66706715913415,
        "content": "## Generate Questions and Topics from the summary and make sure the response follows required schema."
      },
      "typeVersion": 1
    },
    {
      "id": "53626ccb-451d-4ed8-8512-2daa74baf556",
      "name": "Send Digest",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1900,
        580
      ],
      "parameters": {
        "sendTo": "oleg@n8n.io",
        "message": "=Greetings \ud83d\udc4b,\nHope you're doing well! Here's your digest for this week's episode of Philoshopy This! \n\n<h2>\ud83c\udf99 Episode Summary</h2>\n{{ $json.summary }}\n\n<h2>\ud83d\udca1 Topics Discussed</h2>\n{{ $json.topics.join('\\n') }}\n\n<h2>\u2753 Questions to Ponder</h2>\n{{ $json.questions.join('\\n') }}",
        "options": {},
        "subject": "Podcast Digest",
        "emailType": "html"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "kLFedNEM8Zwkergv",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "751ffffe-190e-4fc6-93ff-0021c98f225d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        460
      ],
      "parameters": {
        "width": 359.3751741576458,
        "height": 567.5105121293799,
        "content": "## Ask Agent to research and explain each topic using Wikipedia\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "0165bec2-f390-44a8-8435-ba718cf18465",
      "name": "Format topic text & title",
      "type": "n8n-nodes-base.code",
      "position": [
        1740,
        580
      ],
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst topics = [];\nconst questions = [];\nconst summary = $('Summarize Transcript').item.json.response.output_text;\n// Format Topics\nfor (const [index, topic] of inputItems.entries()) {\n const title = $('Topics').all()[index].json.topic\n\n topics.push(`\n <h3>${title}</h3>\n <p>${topic.json.output}</p>`.trim()\n )\n}\n\n// Format Questions\nfor (const question of $('Extract Topics & Questions').item.json.questions) {\n questions.push(`\n <h3>${question.question}</h3>\n <p>${question.why}</p>`.trim()\n )\n}\n\nreturn { topics, summary, questions }"
      },
      "typeVersion": 2
    },
    {
      "id": "497c5a49-e4cb-4c1f-98c2-49088ced2e72",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        720,
        755
      ],
      "parameters": {
        "jsonSchema": "{\n \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n \"title\": \"Generated schema for Root\",\n \"type\": \"object\",\n \"properties\": {\n \"questions\": {\n \"type\": \"array\",\n \"items\": {\n \"type\": \"object\",\n \"properties\": {\n \"question\": {\n \"type\": \"string\"\n },\n \"why\": {\n \"type\": \"string\",\n \"description\": \"Explanation of why this question is relevant for the context\"\n }\n },\n \"required\": [\n \"question\",\n \"why\"\n ]\n }\n },\n \"topics\": {\n \"type\": \"array\",\n \"items\": {\n \"type\": \"object\",\n \"properties\": {\n \"topic\": {\n \"type\": \"string\"\n },\n \"why\": {\n \"type\": \"string\",\n \"description\": \"A few sentences explanation of why this topic is relevant for the context\"\n }\n },\n \"required\": [\n \"topic\",\n \"why\"\n ]\n }\n }\n },\n \"required\": [\n \"questions\",\n \"topics\"\n ]\n}"
      },
      "typeVersion": 1
    },
    {
      "id": "6b42d3bf-912e-4df3-91c6-2eba06dbe27c",
      "name": "Extract Topics & Questions",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        560,
        580
      ],
      "parameters": {
        "prompt": "=Come up with a list of questions and further topics to explore that are relevant for the context. Make sure questions are relevant to the topics but not verbatim. Think hard about what the appropriate questions should be and how it relates to the summarization.\nPodcast Summary: {{ $json.response.output_text }}"
      },
      "typeVersion": 1
    },
    {
      "id": "701c2977-0c17-4fa0-ad4b-afbbbaa6f044",
      "name": "GPT3.5 - Research",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1280,
        780
      ],
      "parameters": {
        "model": "gpt-3.5-turbo-16k",
        "options": {
          "temperature": 0.8
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "wJtZwsVKW5v6R2Iy",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "0da11c5a-ffd3-47a0-a082-9eaf9d18fc10",
      "name": "GPT3.5 - Summarize",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -60,
        780
      ],
      "parameters": {
        "model": "gpt-3.5-turbo-16k",
        "options": {
          "temperature": 0
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "wJtZwsVKW5v6R2Iy",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "bbb29b9f-f765-4f0c-926f-1b34a6eb999c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        460
      ],
      "parameters": {
        "width": 371.7094059635757,
        "height": 330.6932614555254,
        "content": "## Format as HTML and send via Gmail"
      },
      "typeVersion": 1
    },
    {
      "id": "cfdde2b8-5fb7-4eb6-b821-e5d0511bcabd",
      "name": "Research & Explain Topics",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1260,
        580
      ],
      "parameters": {
        "text": "=Topic: {{ $json.topic }}\n\nContext: {{ $('Summarize Transcript').item.json.response.output_text }}\n",
        "agent": "openAiFunctionsAgent"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1a1ab93-2fb9-42f9-94a2-9d2c187eb41e",
  "connections": {
    "Topics": {
      "main": [
        [
          {
            "node": "Research & Explain Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "Research & Explain Topics",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4 - Extract": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Topics & Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT3.5 - Research": {
      "ai_languageModel": [
        [
          {
            "node": "Research & Explain Topics",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT3.5 - Summarize": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Transcript",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Transcript": {
      "main": [
        [
          {
            "node": "Extract Topics & Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Topics & Questions",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format topic text & title": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research & Explain Topics": {
      "main": [
        [
          {
            "node": "Format topic text & title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Topics & Questions": {
      "main": [
        [
          {
            "node": "Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Episode Transcript": {
      "main": [
        [
          {
            "node": "Summarize Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input to JSON Document": {
      "ai_document": [
        [
          {
            "node": "Summarize Transcript",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Podcast Episode Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Workflow Input to JSON Document",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  }
}