workflows/Slack slash commands AI Chat Bot.json
{
  "id": "PGLFPj5y01s26rE1",
  "meta": {
    "instanceId": "b68f2515130d1ee83f4af1a6f2ca359fc9bb8cdbe875ca10b6f944f99aa931b5",
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 6",
  "tags": [],
  "nodes": [
    {
      "id": "82670f40-2e3b-4e02-ae52-f2c918c3aa1c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -600
      ],
      "parameters": {
        "color": 7,
        "width": 280,
        "height": 380,
        "content": "## Command Trigger\n\nCopy the webhook URL, paste it into the Request URL of the Slack slash command, and complete the creation.\n\n\n\uc6f9\ud6c5 URL\uc744 \ubcf5\uc0ac\ud558\uc5ec \uc2ac\ub799 \uc2ac\ub798\uc2dc \ucee4\ub9e8\ub4dc\uc758 Request URL\uc5d0 \ubd99\uc774\uace0 \uc0dd\uc131\uc744 \uc644\ub8cc\ud558\uc138\uc694."
      },
      "typeVersion": 1
    },
    {
      "id": "28f56691-0ad5-47b1-974b-1ece4890933b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        -600
      ],
      "parameters": {
        "color": 7,
        "height": 380,
        "content": "## Command Switch\n\nSwitch each slash command.\n\n\uac01 \uc2ac\ub798\uc2dc \ucee4\ub9e8\ub4dc\ub97c \ubd84\uae30\ud558\uc138\uc694."
      },
      "typeVersion": 1
    },
    {
      "id": "9dc9ca95-e29d-44d9-9e09-b2a72d9ad23a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        -600
      ],
      "parameters": {
        "color": 7,
        "width": 360,
        "height": 380,
        "content": "## Create AI Messages"
      },
      "typeVersion": 1
    },
    {
      "id": "025c5a59-06b6-4b6d-b3e0-aa782a133c97",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        -600
      ],
      "parameters": {
        "color": 7,
        "height": 340,
        "content": "## Send a Slack Message"
      },
      "typeVersion": 1
    },
    {
      "id": "cb60e9b0-a9a8-4dd6-9aa3-9d22c7f5f537",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -20,
        -380
      ],
      "webhookId": "1bd05fcf-8286-491f-ae13-f0e6bff4aca6",
      "parameters": {
        "path": "1bd05fcf-8286-491f-ae13-f0e6bff4aca6",
        "options": {
          "responseCode": {
            "values": {
              "responseCode": 204
            }
          }
        },
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "d60cfb45-df3d-4ab1-8e7e-1b2e81bc5b34",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        320,
        -380
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "ask",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.command }}",
                    "rightValue": "/ask"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "another",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a0924665-de21-4d9b-a1d1-c9f41f74ee09",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.command }}",
                    "rightValue": "/another"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "810ac4dd-8241-4486-b183-74cbde3d58e7",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        640,
        -500
      ],
      "parameters": {
        "text": "={{ $json.body.text }}",
        "promptType": "define"
      },
      "typeVersion": 1.5
    },
    {
      "id": "f173fe2d-45e7-460c-aa33-d5509b6d59b9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        720,
        -340
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "4752da4c-b013-4469-a3bc-386d3ab3d15d",
      "name": "Send a Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1120,
        -460
      ],
      "webhookId": "a37abc2a-6e8c-4c00-8543-3f313b300df6",
      "parameters": {
        "text": "={{ $json.text }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Webhook').item.json.body.channel_id }}"
        },
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "c2f5dbcc-8283-47ab-b19a-810ad526d519",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -1060
      ],
      "parameters": {
        "color": 7,
        "width": 340,
        "height": 400,
        "content": "## \u1109\u1173\u11af\u1105\u1162\u11a8 Slash Command\u110b\u116a \u110e\u1162\u1102\u1165\u11af \u1106\u1166\u1109\u1175\u110c\u1175\ub85c \ucc57\ubd07 \ub9cc\ub4e4\uae30 \ud83e\udd16\n\n\uc774 \ud29c\ud1a0\ub9ac\uc5bc\uc5d0\uc11c\ub294 n8n\uc744 \ud65c\uc6a9\ud574 \uc2ac\ub799\uc5d0\uc11c \ub3d9\uc791\ud558\ub294 AI \ucc57\ubd07\uc744 \ub9cc\ub4dc\ub294 \ubc29\ubc95\uc744 \uc54c\ub824\ub4dc\ub9bd\ub2c8\ub2e4. \uc2ac\ub798\uc2dc \ucee4\ub9e8\ub4dc\ub97c \ud1b5\ud55c \uac1c\uc778 \uba54\uc2dc\uc9c0\ubd80\ud130 \uacf5\uac1c \ucc44\ub110\uc5d0\uc11c\uc758 \uc790\ub3d9 \uc751\ub2f5\uae4c\uc9c0, \uc2e4\uc6a9\uc801\uc778 \ucc57\ubd07 \uad6c\ud604 \ubc29\ubc95\uc744 \ub2e8\uacc4\ubcc4\ub85c \uc124\uba85\ud569\ub2c8\ub2e4. \uc2ac\ub799 \uc571 \uc124\uc815\ubd80\ud130 n8n \ub178\ub4dc \uad6c\uc131, \uc6f9\ud6c5 \ud2b8\ub9ac\uac70 \uc124\uc815, AI \ubd07 \uc5f0\ub3d9\uae4c\uc9c0 \ud558\ub098\ud558\ub098 \uc790\uc138\ud788 \ub2e4\ub8f9\ub2c8\ub2e4.\n\n\uc720\ud29c\ube0c \ub9c1\ud06c:\nhttps://www.youtube.com/watch?v=UpudYFCWaIM\n"
      },
      "typeVersion": 1
    },
    {
      "id": "4ecdfdfa-8886-47c6-b9df-ac45321b0cea",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        -1060
      ],
      "parameters": {
        "color": 7,
        "width": 340,
        "height": 400,
        "content": "## Create an AI chatbot with Slack slash commands! \ud83e\udd16\n\nIn this tutorial, we'll show you how to create an AI chatbot that works in Slack using n8n. We'll explain step by step how to implement a practical chatbot, from personal messages through slash commands to automatic responses in public channels. We'll cover everything in detail, from Slack app configuration to n8n node setup, webhook trigger configuration, and AI bot integration.\n\nThe YouTube video is provided in Korean.\n\nYoutube Link:\nhttps://www.youtube.com/watch?v=UpudYFCWaIM\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de554ae6-98d5-4841-9ed6-cb68d2c1bc7f",
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}